<div class="row">
<form action="/answer">
  <h1><label class="col-sm-12" for="question">Speak to your coach</label></h1>
  <input class="col-sm-6" type="text" id="question" name="question" placeholder="what is your question?">
  <input type="submit" class="btn btn-primary" value="Go on!">
</form>
</div>
